 <div class="col-xs-12 host text-center">


<h1>Home</h1>
<br><br>
<div>
</div>

<br><br>
<%= link_to "Admin Dashboard", admin_dashboard_path %>

<br><br><br>

<% Category.all.each do |t| %>

  <h3>View <%= link_to "#{t.name}", category_posts_path(t) %> posts</h3>

<% end %>

<h3>View <%= link_to "All", posts_path %> posts</h3>
