<% @posts.each do |post| %>
  <div class="review-box">
    <h3>Title: <%= post.name %></h3> <br>
    <h4>Review: <%= post.review %></h4> <br>
    <h4>Rating: <%= post.rating %></h4> <br>
  </div>
<% end %>
