<style type="text/css">
.showme{
  border: 1px solid black;
}

</style>

<div class="showme col-xs-10 col-xs-offset-1">
<h3><%= @post.name %> - <%= @post.rating %>/5</h3><br>
<h4><%= @post.review %></h4> <br>

<div id="likes">
    <%= render partial: "likes" %>
</div><br>

</div>
